body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
}

div {
  width: 300px;
  padding: 10px;
}

.item {
  border: 1px solid black;
}

.item:hover {
  background-color: orange;
}

.title {
  justify-content: left;
}
