label, input {
  display: block;
}

input {
  border: 4px solid lightgreen;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
}

button {
  background-color: lightgreen;
  border-radius: 30px;
  padding: 20px;
}